# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://admin:pasa123@cluster0.xzcmfhx.mongodb.net/?appName=Cluster0

# Environment type: development | production
ENVIRONMENT=development

# Backend port (optional)
PORT=8000